:root {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-white: #ffffff;
  --color-primary-50: #f4e6ff;
  --color-primary-500: #bc66ff;
  --color-primary-900-default: #9a2df0;
  --color-status-messages-success-50: #ecfdf5;
  --color-status-messages-success-500: #10b981;
  --color-status-messages-success-900: #064e3b;
  --color-status-messages-error-50: #fef2f2;
  --color-status-messages-error-500: #ef4444;
  --color-status-messages-error-900: #7f1d1d;
  --color-status-messages-warning-50: #fffbeb;
  --color-status-messages-warning-500: #f59e0b;
  --color-status-messages-warning-900: #78350f;
  --color-status-messages-info-50: #eff6ff;
  --color-status-messages-info-500: #3b82f6;
  --color-status-messages-info-900: #1e3a8a;
  --color-internal-dark: #9a2df0;
  --color-internal-light: #f8efff;
  --typography-5xl-text-5xl-semibold-font-size: 48px;
  --typography-5xl-text-5xl-semibold-text-decoration: none;
  --typography-5xl-text-5xl-semibold-font-family: Inter;
  --typography-5xl-text-5xl-semibold-font-weight: 600;
  --typography-5xl-text-5xl-semibold-font-style: normal;
  --typography-5xl-text-5xl-semibold-font-stretch: normal;
  --typography-5xl-text-5xl-semibold-letter-spacing: -0.24px;
  --typography-5xl-text-5xl-semibold-line-height: 58px;
  --typography-5xl-text-5xl-semibold-paragraph-indent: 0;
  --typography-5xl-text-5xl-semibold-paragraph-spacing: 27px;
  --typography-5xl-text-5xl-semibold-text-case: none;
  --typography-5xl-text-5xl-medium-font-size: 48px;
  --typography-5xl-text-5xl-medium-text-decoration: none;
  --typography-5xl-text-5xl-medium-font-family: Inter;
  --typography-5xl-text-5xl-medium-font-weight: 500;
  --typography-5xl-text-5xl-medium-font-style: normal;
  --typography-5xl-text-5xl-medium-font-stretch: normal;
  --typography-5xl-text-5xl-medium-letter-spacing: -0.24px;
  --typography-5xl-text-5xl-medium-line-height: 58px;
  --typography-5xl-text-5xl-medium-paragraph-indent: 0;
  --typography-5xl-text-5xl-medium-paragraph-spacing: 27px;
  --typography-5xl-text-5xl-medium-text-case: none;
  --typography-5xl-text-5xl-regular-font-size: 48px;
  --typography-5xl-text-5xl-regular-text-decoration: none;
  --typography-5xl-text-5xl-regular-font-family: Inter;
  --typography-5xl-text-5xl-regular-font-weight: 400;
  --typography-5xl-text-5xl-regular-font-style: normal;
  --typography-5xl-text-5xl-regular-font-stretch: normal;
  --typography-5xl-text-5xl-regular-letter-spacing: -0.24px;
  --typography-5xl-text-5xl-regular-line-height: 58px;
  --typography-5xl-text-5xl-regular-paragraph-indent: 0;
  --typography-5xl-text-5xl-regular-paragraph-spacing: 27px;
  --typography-5xl-text-5xl-regular-text-case: none;
  --typography-4xl-text-4xl-semibold-font-size: 36px;
  --typography-4xl-text-4xl-semibold-text-decoration: none;
  --typography-4xl-text-4xl-semibold-font-family: Inter;
  --typography-4xl-text-4xl-semibold-font-weight: 600;
  --typography-4xl-text-4xl-semibold-font-style: normal;
  --typography-4xl-text-4xl-semibold-font-stretch: normal;
  --typography-4xl-text-4xl-semibold-letter-spacing: -0.18px;
  --typography-4xl-text-4xl-semibold-line-height: 54px;
  --typography-4xl-text-4xl-semibold-paragraph-indent: 0;
  --typography-4xl-text-4xl-semibold-paragraph-spacing: 27px;
  --typography-4xl-text-4xl-semibold-text-case: none;
  --typography-4xl-text-4xl-medium-font-size: 36px;
  --typography-4xl-text-4xl-medium-text-decoration: none;
  --typography-4xl-text-4xl-medium-font-family: Inter;
  --typography-4xl-text-4xl-medium-font-weight: 500;
  --typography-4xl-text-4xl-medium-font-style: normal;
  --typography-4xl-text-4xl-medium-font-stretch: normal;
  --typography-4xl-text-4xl-medium-letter-spacing: -0.18px;
  --typography-4xl-text-4xl-medium-line-height: 54px;
  --typography-4xl-text-4xl-medium-paragraph-indent: 0;
  --typography-4xl-text-4xl-medium-paragraph-spacing: 27px;
  --typography-4xl-text-4xl-medium-text-case: none;
  --typography-4xl-text-4xl-regular-font-size: 36px;
  --typography-4xl-text-4xl-regular-text-decoration: none;
  --typography-4xl-text-4xl-regular-font-family: Inter;
  --typography-4xl-text-4xl-regular-font-weight: 400;
  --typography-4xl-text-4xl-regular-font-style: normal;
  --typography-4xl-text-4xl-regular-font-stretch: normal;
  --typography-4xl-text-4xl-regular-letter-spacing: -0.18px;
  --typography-4xl-text-4xl-regular-line-height: 54px;
  --typography-4xl-text-4xl-regular-paragraph-indent: 0;
  --typography-4xl-text-4xl-regular-paragraph-spacing: 27px;
  --typography-4xl-text-4xl-regular-text-case: none;
  --typography-3xl-text-3xl-semibold-font-size: 30px;
  --typography-3xl-text-3xl-semibold-text-decoration: none;
  --typography-3xl-text-3xl-semibold-font-family: Inter;
  --typography-3xl-text-3xl-semibold-font-weight: 600;
  --typography-3xl-text-3xl-semibold-font-style: normal;
  --typography-3xl-text-3xl-semibold-font-stretch: normal;
  --typography-3xl-text-3xl-semibold-letter-spacing: -0.075px;
  --typography-3xl-text-3xl-semibold-line-height: 45px;
  --typography-3xl-text-3xl-semibold-paragraph-indent: 0;
  --typography-3xl-text-3xl-semibold-paragraph-spacing: 22px;
  --typography-3xl-text-3xl-semibold-text-case: none;
  --typography-3xl-text-3xl-medium-font-size: 30px;
  --typography-3xl-text-3xl-medium-text-decoration: none;
  --typography-3xl-text-3xl-medium-font-family: Inter;
  --typography-3xl-text-3xl-medium-font-weight: 500;
  --typography-3xl-text-3xl-medium-font-style: normal;
  --typography-3xl-text-3xl-medium-font-stretch: normal;
  --typography-3xl-text-3xl-medium-letter-spacing: -0.075px;
  --typography-3xl-text-3xl-medium-line-height: 45px;
  --typography-3xl-text-3xl-medium-paragraph-indent: 0;
  --typography-3xl-text-3xl-medium-paragraph-spacing: 22px;
  --typography-3xl-text-3xl-medium-text-case: none;
  --typography-3xl-text-3xl-regular-font-size: 30px;
  --typography-3xl-text-3xl-regular-text-decoration: none;
  --typography-3xl-text-3xl-regular-font-family: Inter;
  --typography-3xl-text-3xl-regular-font-weight: 400;
  --typography-3xl-text-3xl-regular-font-style: normal;
  --typography-3xl-text-3xl-regular-font-stretch: normal;
  --typography-3xl-text-3xl-regular-letter-spacing: -0.075px;
  --typography-3xl-text-3xl-regular-line-height: 45px;
  --typography-3xl-text-3xl-regular-paragraph-indent: 0;
  --typography-3xl-text-3xl-regular-paragraph-spacing: 22px;
  --typography-3xl-text-3xl-regular-text-case: none;
  --typography-2xl-text-2xl-semibold-font-size: 24px;
  --typography-2xl-text-2xl-semibold-text-decoration: none;
  --typography-2xl-text-2xl-semibold-font-family: Inter;
  --typography-2xl-text-2xl-semibold-font-weight: 600;
  --typography-2xl-text-2xl-semibold-font-style: normal;
  --typography-2xl-text-2xl-semibold-font-stretch: normal;
  --typography-2xl-text-2xl-semibold-letter-spacing: 0;
  --typography-2xl-text-2xl-semibold-line-height: 36px;
  --typography-2xl-text-2xl-semibold-paragraph-indent: 0;
  --typography-2xl-text-2xl-semibold-paragraph-spacing: 18px;
  --typography-2xl-text-2xl-semibold-text-case: none;
  --typography-2xl-text-2xl-medium-font-size: 24px;
  --typography-2xl-text-2xl-medium-text-decoration: none;
  --typography-2xl-text-2xl-medium-font-family: Inter;
  --typography-2xl-text-2xl-medium-font-weight: 500;
  --typography-2xl-text-2xl-medium-font-style: normal;
  --typography-2xl-text-2xl-medium-font-stretch: normal;
  --typography-2xl-text-2xl-medium-letter-spacing: 0;
  --typography-2xl-text-2xl-medium-line-height: 36px;
  --typography-2xl-text-2xl-medium-paragraph-indent: 0;
  --typography-2xl-text-2xl-medium-paragraph-spacing: 18px;
  --typography-2xl-text-2xl-medium-text-case: none;
  --typography-2xl-text-2xl-regular-font-size: 24px;
  --typography-2xl-text-2xl-regular-text-decoration: none;
  --typography-2xl-text-2xl-regular-font-family: Inter;
  --typography-2xl-text-2xl-regular-font-weight: 400;
  --typography-2xl-text-2xl-regular-font-style: normal;
  --typography-2xl-text-2xl-regular-font-stretch: normal;
  --typography-2xl-text-2xl-regular-letter-spacing: 0;
  --typography-2xl-text-2xl-regular-line-height: 36px;
  --typography-2xl-text-2xl-regular-paragraph-indent: 0;
  --typography-2xl-text-2xl-regular-paragraph-spacing: 18px;
  --typography-2xl-text-2xl-regular-text-case: none;
  --typography-xl-text-xl-semibold-font-size: 20px;
  --typography-xl-text-xl-semibold-text-decoration: none;
  --typography-xl-text-xl-semibold-font-family: Inter;
  --typography-xl-text-xl-semibold-font-weight: 600;
  --typography-xl-text-xl-semibold-font-style: normal;
  --typography-xl-text-xl-semibold-font-stretch: normal;
  --typography-xl-text-xl-semibold-letter-spacing: 0;
  --typography-xl-text-xl-semibold-line-height: 30px;
  --typography-xl-text-xl-semibold-paragraph-indent: 0;
  --typography-xl-text-xl-semibold-paragraph-spacing: 15px;
  --typography-xl-text-xl-semibold-text-case: none;
  --typography-xl-text-xl-medium-font-size: 20px;
  --typography-xl-text-xl-medium-text-decoration: none;
  --typography-xl-text-xl-medium-font-family: Inter;
  --typography-xl-text-xl-medium-font-weight: 500;
  --typography-xl-text-xl-medium-font-style: normal;
  --typography-xl-text-xl-medium-font-stretch: normal;
  --typography-xl-text-xl-medium-letter-spacing: 0;
  --typography-xl-text-xl-medium-line-height: 30px;
  --typography-xl-text-xl-medium-paragraph-indent: 0;
  --typography-xl-text-xl-medium-paragraph-spacing: 15px;
  --typography-xl-text-xl-medium-text-case: none;
  --typography-xl-text-xl-regular-font-size: 20px;
  --typography-xl-text-xl-regular-text-decoration: none;
  --typography-xl-text-xl-regular-font-family: Inter;
  --typography-xl-text-xl-regular-font-weight: 400;
  --typography-xl-text-xl-regular-font-style: normal;
  --typography-xl-text-xl-regular-font-stretch: normal;
  --typography-xl-text-xl-regular-letter-spacing: 0;
  --typography-xl-text-xl-regular-line-height: 30px;
  --typography-xl-text-xl-regular-paragraph-indent: 0;
  --typography-xl-text-xl-regular-paragraph-spacing: 15px;
  --typography-xl-text-xl-regular-text-case: none;
  --typography-lg-text-lg-semibold-font-size: 18px;
  --typography-lg-text-lg-semibold-text-decoration: none;
  --typography-lg-text-lg-semibold-font-family: Inter;
  --typography-lg-text-lg-semibold-font-weight: 600;
  --typography-lg-text-lg-semibold-font-style: normal;
  --typography-lg-text-lg-semibold-font-stretch: normal;
  --typography-lg-text-lg-semibold-letter-spacing: 0;
  --typography-lg-text-lg-semibold-line-height: 27px;
  --typography-lg-text-lg-semibold-paragraph-indent: 0;
  --typography-lg-text-lg-semibold-paragraph-spacing: 13px;
  --typography-lg-text-lg-semibold-text-case: none;
  --typography-lg-text-lg-medium-font-size: 18px;
  --typography-lg-text-lg-medium-text-decoration: none;
  --typography-lg-text-lg-medium-font-family: Inter;
  --typography-lg-text-lg-medium-font-weight: 500;
  --typography-lg-text-lg-medium-font-style: normal;
  --typography-lg-text-lg-medium-font-stretch: normal;
  --typography-lg-text-lg-medium-letter-spacing: 0;
  --typography-lg-text-lg-medium-line-height: 27px;
  --typography-lg-text-lg-medium-paragraph-indent: 0;
  --typography-lg-text-lg-medium-paragraph-spacing: 13px;
  --typography-lg-text-lg-medium-text-case: none;
  --typography-lg-text-lg-regular-font-size: 18px;
  --typography-lg-text-lg-regular-text-decoration: none;
  --typography-lg-text-lg-regular-font-family: Inter;
  --typography-lg-text-lg-regular-font-weight: 400;
  --typography-lg-text-lg-regular-font-style: normal;
  --typography-lg-text-lg-regular-font-stretch: normal;
  --typography-lg-text-lg-regular-letter-spacing: 0;
  --typography-lg-text-lg-regular-line-height: 27px;
  --typography-lg-text-lg-regular-paragraph-indent: 0;
  --typography-lg-text-lg-regular-paragraph-spacing: 13px;
  --typography-lg-text-lg-regular-text-case: none;
  --typography-base-text-base-semibold-font-size: 16px;
  --typography-base-text-base-semibold-text-decoration: none;
  --typography-base-text-base-semibold-font-family: Inter;
  --typography-base-text-base-semibold-font-weight: 600;
  --typography-base-text-base-semibold-font-style: normal;
  --typography-base-text-base-semibold-font-stretch: normal;
  --typography-base-text-base-semibold-letter-spacing: 0;
  --typography-base-text-base-semibold-line-height: 24px;
  --typography-base-text-base-semibold-paragraph-indent: 0;
  --typography-base-text-base-semibold-paragraph-spacing: 12px;
  --typography-base-text-base-semibold-text-case: none;
  --typography-base-text-base-medium-font-size: 16px;
  --typography-base-text-base-medium-text-decoration: none;
  --typography-base-text-base-medium-font-family: Inter;
  --typography-base-text-base-medium-font-weight: 500;
  --typography-base-text-base-medium-font-style: normal;
  --typography-base-text-base-medium-font-stretch: normal;
  --typography-base-text-base-medium-letter-spacing: 0;
  --typography-base-text-base-medium-line-height: 24px;
  --typography-base-text-base-medium-paragraph-indent: 0;
  --typography-base-text-base-medium-paragraph-spacing: 12px;
  --typography-base-text-base-medium-text-case: none;
  --typography-base-text-base-regular-font-size: 16px;
  --typography-base-text-base-regular-text-decoration: none;
  --typography-base-text-base-regular-font-family: Inter;
  --typography-base-text-base-regular-font-weight: 400;
  --typography-base-text-base-regular-font-style: normal;
  --typography-base-text-base-regular-font-stretch: normal;
  --typography-base-text-base-regular-letter-spacing: 0;
  --typography-base-text-base-regular-line-height: 24px;
  --typography-base-text-base-regular-paragraph-indent: 0;
  --typography-base-text-base-regular-paragraph-spacing: 12px;
  --typography-base-text-base-regular-text-case: none;
  --typography-sm-text-sm-semibold-font-size: 14px;
  --typography-sm-text-sm-semibold-text-decoration: none;
  --typography-sm-text-sm-semibold-font-family: Inter;
  --typography-sm-text-sm-semibold-font-weight: 600;
  --typography-sm-text-sm-semibold-font-style: normal;
  --typography-sm-text-sm-semibold-font-stretch: normal;
  --typography-sm-text-sm-semibold-letter-spacing: 0.21px;
  --typography-sm-text-sm-semibold-line-height: 21px;
  --typography-sm-text-sm-semibold-paragraph-indent: 0;
  --typography-sm-text-sm-semibold-paragraph-spacing: 10px;
  --typography-sm-text-sm-semibold-text-case: none;
  --typography-sm-text-sm-medium-font-size: 14px;
  --typography-sm-text-sm-medium-text-decoration: none;
  --typography-sm-text-sm-medium-font-family: Inter;
  --typography-sm-text-sm-medium-font-weight: 500;
  --typography-sm-text-sm-medium-font-style: normal;
  --typography-sm-text-sm-medium-font-stretch: normal;
  --typography-sm-text-sm-medium-letter-spacing: 0.21px;
  --typography-sm-text-sm-medium-line-height: 21px;
  --typography-sm-text-sm-medium-paragraph-indent: 0;
  --typography-sm-text-sm-medium-paragraph-spacing: 10px;
  --typography-sm-text-sm-medium-text-case: none;
  --typography-sm-text-sm-regular-font-size: 14px;
  --typography-sm-text-sm-regular-text-decoration: none;
  --typography-sm-text-sm-regular-font-family: Inter;
  --typography-sm-text-sm-regular-font-weight: 400;
  --typography-sm-text-sm-regular-font-style: normal;
  --typography-sm-text-sm-regular-font-stretch: normal;
  --typography-sm-text-sm-regular-letter-spacing: 0.21px;
  --typography-sm-text-sm-regular-line-height: 21px;
  --typography-sm-text-sm-regular-paragraph-indent: 0;
  --typography-sm-text-sm-regular-paragraph-spacing: 10px;
  --typography-sm-text-sm-regular-text-case: none;
  --typography-xs-text-xs-semibold-font-size: 12px;
  --typography-xs-text-xs-semibold-text-decoration: none;
  --typography-xs-text-xs-semibold-font-family: Inter;
  --typography-xs-text-xs-semibold-font-weight: 600;
  --typography-xs-text-xs-semibold-font-style: normal;
  --typography-xs-text-xs-semibold-font-stretch: normal;
  --typography-xs-text-xs-semibold-letter-spacing: 0.24px;
  --typography-xs-text-xs-semibold-line-height: 18px;
  --typography-xs-text-xs-semibold-paragraph-indent: 0;
  --typography-xs-text-xs-semibold-paragraph-spacing: 9px;
  --typography-xs-text-xs-semibold-text-case: none;
  --typography-xs-text-xs-medium-font-size: 12px;
  --typography-xs-text-xs-medium-text-decoration: none;
  --typography-xs-text-xs-medium-font-family: Inter;
  --typography-xs-text-xs-medium-font-weight: 500;
  --typography-xs-text-xs-medium-font-style: normal;
  --typography-xs-text-xs-medium-font-stretch: normal;
  --typography-xs-text-xs-medium-letter-spacing: 0.24px;
  --typography-xs-text-xs-medium-line-height: 18px;
  --typography-xs-text-xs-medium-paragraph-indent: 0;
  --typography-xs-text-xs-medium-paragraph-spacing: 9px;
  --typography-xs-text-xs-medium-text-case: none;
  --typography-xs-text-xs-regular-font-size: 12px;
  --typography-xs-text-xs-regular-text-decoration: none;
  --typography-xs-text-xs-regular-font-family: Inter;
  --typography-xs-text-xs-regular-font-weight: 400;
  --typography-xs-text-xs-regular-font-style: normal;
  --typography-xs-text-xs-regular-font-stretch: normal;
  --typography-xs-text-xs-regular-letter-spacing: 0.24px;
  --typography-xs-text-xs-regular-line-height: 18px;
  --typography-xs-text-xs-regular-paragraph-indent: 0;
  --typography-xs-text-xs-regular-paragraph-spacing: 9px;
  --typography-xs-text-xs-regular-text-case: none;
}
