:root {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-white: #ffffff;
  --color-primary-50: #f4e6ff;
  --color-primary-500: #bc66ff;
  --color-primary-900-default: #9a2df0;
  --color-status-messages-success-50: #ecfdf5;
  --color-status-messages-success-500: #10b981;
  --color-status-messages-success-900: #064e3b;
  --color-status-messages-error-50: #fef2f2;
  --color-status-messages-error-500: #ef4444;
  --color-status-messages-error-900: #7f1d1d;
  --color-status-messages-warning-50: #fffbeb;
  --color-status-messages-warning-500: #f59e0b;
  --color-status-messages-warning-900: #78350f;
  --color-status-messages-info-50: #eff6ff;
  --color-status-messages-info-500: #3b82f6;
  --color-status-messages-info-900: #1e3a8a;
  --color-internal-dark: #9a2df0;
  --color-internal-light: #f8efff;
}
